:root {
  color: black;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;

  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;

  --accent: #1976d2;

  --border: #d5d6da;
  --border-hover: #b0b1b5;

  --spacing-xxs: 4px;
  --spacing-xxs: 8px;
  --spacing-xs: 12px;
  --spacing-s: 16px;
  --spacing-m: 20px;
  --spacing-l: 24px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100dvw;
  height: 100dvh;
}
