.textareaWrapper {
  position: relative;
  margin-bottom: var(--spacing-m);
}

.textarea {
  resize: none;
  min-height: 100px;
  width: 100%;
  border: 2px solid var(--border);
  outline: none;
  border-radius: 12px;
  background-color: transparent;
  padding: var(--spacing-xxs) var(--spacing-xxs) var(--spacing-l) var(--spacing-xxs);
  font-size: 17px;
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.textarea:not(:focus):hover {
  border-color: var(--border-hover);
}

.textarea:focus {
  border-color: var(--accent);
}

.charCounter {
  position: absolute;
  bottom: var(--spacing-xs);
  right: var(--spacing-xs);
  font-size: 14px;
  color: var(--caption);
  pointer-events: none;
}
