.screen {
  width: 100dvw;
  height: 100dvh;
  background-color: rgb(58, 58, 58);
  display: flex;
  align-items: center;
  justify-content: center;
  --padding: min(5vh, 5vw);
  padding: var(--padding);
}

.imageContainer {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.image {
  display: block;
  height: auto;
  max-width: calc(100vw - 2 * var(--padding));
  max-height: calc(100vh - 2 * var(--padding));
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: manipulation;
}

.image:focus {
  outline: none !important;
}

.clickableArea {
  position: absolute;
  z-index: 10;
}

.fadeEnter {
  opacity: 0;
}

.fadeEnterActive {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fadeExit {
  opacity: 1;
}

.fadeExitActive {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

@media (max-width: 599px) {
  .image {
    cursor: default;
  }
}
