.sidebar {
  height: 100%;
  width: 400px;
  margin-left: 0;
  white-space: nowrap;
  overflow: hidden;
  transition: margin 0.4s;
  background-color: white;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--spacing-s);
  position: fixed;
  left: 0;
  top: 0;
}

.closed {
  margin-left: -400px;
}

@media (max-width: 599px) {
  .sidebar {
    width: 100vw;
    height: auto;
    max-height: 50vh;
    overflow-y: auto;
    top: auto;
    bottom: 0;
    margin-bottom: 0;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: var(--spacing-m);
  }

  .closed {
    margin-left: 0;
    margin-bottom: -400px;
  }
}
