.title {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: var(--spacing-xs);
}

.description {
  font-size: 14px;
  text-wrap: initial;
  line-height: 1.6em;
}

.actions {
  margin-left: auto;
  display: flex;
  margin-top: var(--spacing-s);
  gap: var(--spacing-xs);
}

@media (max-width: 599px) {
  .actions {
    margin-left: 0;
    flex-direction: column-reverse;
  }
}
